#auth_page {
  padding: 24px;
  box-sizing: border-box;
  max-width: 234px;
  margin: 0 auto;
  
  .auth_success {
    font-size: 16px;
    color: #000;
    
    .glyphicon {
      font-size: 22px;
      color: green;
    }
  }
}